# PyCharm/IntelliJ IDE config
.idea/

__pycache__

.DS_Store
test_results/*
results.xml
lint.xml
build/*
dist/*
venv/
*.egg-info
*.pyc
*.log
.mypy_cache/
**/.pytest_cache/
**/.poetry_cache/
**/.ruff_cache/

duck-db
